annotated-doc==0.0.4
    # via fastapi
annotated-types==0.7.0
    # via pydantic
anyio==4.12.0
    # via starlette
bcrypt==4.0.1
    # via
    #   -r requirements.in
    #   passlib
certifi==2025.11.12
    # via requests
charset-normalizer==3.4.4
    # via requests
click==8.3.1
    # via uvicorn
fastapi==0.123.5
    # via -r requirements.in
greenlet==3.2.4
    # via sqlalchemy
h11==0.16.0
    # via uvicorn
idna==3.11
    # via
    #   anyio
    #   requests
loguru==0.7.3
    # via -r requirements.in
passlib[bcrypt]==1.7.4
    # via -r requirements.in
pydantic==2.12.5
    # via
    #   fastapi
    #   pydantic-settings
    #   sqlmodel
pydantic-core==2.41.5
    # via pydantic
pydantic-settings==2.12.0
    # via -r requirements.in
python-dotenv==1.2.1
    # via pydantic-settings
requests==2.32.5
    # via -r requirements.in
sqlalchemy==2.0.44
    # via sqlmodel
sqlmodel==0.0.27
    # via -r requirements.in
starlette==0.50.0
    # via fastapi
typing-extensions==4.15.0
    # via
    #   fastapi
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
    #   typing-inspection
typing-inspection==0.4.2
    # via
    #   pydantic
    #   pydantic-settings
urllib3==2.5.0
    # via requests
uvicorn==0.38.0
    # via -r requirements.in
