# --------------------------
#  Web server components
# --------------------------
fastapi
uvicorn

# --------------------------
#  Database
# --------------------------
sqlmodel

# --------------------------
#  Password hashing
#  Passlib 1.7.4 is incompatible with bcrypt >=4.1, so we pin bcrypt to 4.0.1
# --------------------------
passlib[bcrypt]
bcrypt==4.0.1

# --------------------------
#  Config + Logging
# --------------------------
pydantic-settings
loguru

# --------------------------
#  attacker
# --------------------------
requests
